@mixin flex-center {
  display: flex;
  justify-content: center;
}
@mixin shadow {
  box-shadow: 5px 5px 8px rgb(190, 189, 189);
}
@mixin shadow-transform {
  box-shadow: 3px 3px 16px black;
}
@mixin h2-section {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}